
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button id="btnYukle" type="button"
        class="btn btn-success">
    Veri Yükle
</button>
<br /><br />
<input id="txtveri" 
       class="form-control" 
       placeholder="Veri Giriniz" style="width:200px;" />
<br />
<button id="btnYukle2" type="button"
        class="btn btn-success">
    Veri Gönder &amp; Yükle
</button>

<hr />
<div id="loading" class="alert alert-warning"
     style="display:none;">yükleniyor...</div>
<ul id="list" class="list-group">
</ul>
<script>
    $(function () {

        $("#btnYukle").click(function () {

            $("#loading").show(1000, function () {
                $.get("/Home/VerileriGetir",
                    function (sonuc) {
                        $("#list").html(sonuc);
                        $("#loading").hide(1000);
                    });
            });


        });

        $("#btnYukle2").click(function () {

            $("#list").empty();

            $("#loading").show(1000, function () {

                var data = $("#txtveri").val();

                $.get("/Home/VerileriGetir", {veri:data} ,
                    function (sonuc) {
                        $("#list").html(sonuc);
                       
                    }).fail(function ()
                    {
                        alert("Hata oluştu.")
                    }).always(function () {
                        $("#loading").hide(1000);
                    });
            });


        });


    })

</script>
