
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>
<button id="btnYukle" type="button"
        class="btn btn-success">
    Veri Yükle
</button>
<br />

<br />
<input id="txtveri"
       class="form-control"
       placeholder="Veri Giriniz" style="width:200px;" />
<br />
<button id="btnYukle2" type="button"
        class="btn btn-success">
    Veri Gönder &amp; Yükle
</button>
<hr />

<div id="loading" class="alert alert-warning"
     style="display:none;">yükleniyor...</div>
<ul id="list" class="list-group">
</ul>

<script>
    $(function () {

        $("#btnYukle").click(function () {
            $("#loading").show(500);
            $("#list").load("/Home/VerileriGetir",
                function () {
                    $("#loading").hide(500);
                });
        });

        $("#btnYukle2").click(function () {

            $("#loading").show(500);

            var data = $("#txtveri").val();

            $("#list").load("/Home/VerileriGetir", {veri:data} ,
                function () {
                    $("#loading").hide(500);
                });
        });



    })

</script>
